body {
    background-image: url("Images/bg.png");
    font-family: "montserrat", "arial";
    color: white;
    justify-content: center;
    min-height: 100vh;
    margin: 0px;
}

.name {
    align-content: center;
    text-align: left;
    font-size: 70px;
    position: absolute;
    left: 10%;
    top: 30%;
    transition: 0.4s;
    
}

.me {
    align-content: center;
    text-align: left;
    font-size: 70px;
    position: absolute;
    right: 5%;
    top: 14%;
    transition: 0.4s;
}

.box {
    background: rgba(0, 0, 0, 0.5);
    border-bottom: solid;
    border-color: white;
    border-width: 2px;
    padding-bottom: 4.5%;
    width: 100%;
    transition: 0.4s;
    position: fixed;
    top: 0%;
}

.menu {
    width: auto;
    height: 30px;
    align-items: center;
    background: white;
    padding: 2px;
    border-radius: 10px;
    position: fixed;
    top: 2%;
    bottom: auto;
    left: 1%;
    transition: 0.4s;
}

.aboutMeBTN {
    color: whitesmoke;
    text-decoration: none;
    position: absolute;
    padding: 10px;
    top: 18%;
    left: 85%;
    transition: 0.4s;
}

.resumeBTN {
    color: whitesmoke;
    text-decoration: none;
    position: absolute;
    padding: 10px;
    top: 18%;
    left: 70%;
    transition: 0.4s;
} .resumeBTN:hover, .aboutMeBTN:hover {
    background: whitesmoke;
    color: black;
    border-radius: 20px;
    transition: 0.3s;
}

.aboutMe {
    position: absolute;
    top: 120%;
    left: 43%;
}

.child, .teen, .adult {
    background: white;
    border-radius: 20%;
    padding: 2%;
    width: auto;
    height: 40%;
}

.child {
    position: absolute;
    top: 140%;
    left: 8%;
}

.teen {
    position: absolute;
    top: 140%;
    left: 38%;
}

.adult {
    position: absolute;
    top: 140%;
    left: 68%;
}

.middle {
    text-decoration: none;
    color: whitesmoke;
    opacity: 20%;
    position: absolute;
    top: 200%;
    left: 44%;
} .middle:hover {
    opacity: 100%;
    text-decoration: underline;
}
