body {
    background-image: url("../Images/bg.png");
    font-family: "libre baskerville", "crimson text", "quattrocento";
    color: whitesmoke;
    justify-content: center;
    min-height: 100vh;
    margin: 0px;
}

h1 {
    position: absolute;
    top: 11%;
    right: 38%;
    font-size: 60px;
}


/**copied to mainDesign.css**/


.box {
    /* background: rgba(0, 0, 0, 0.5);
    border-color: rgb(255, 255, 255, 0.5); */
    background: black;
    border-color: white;
    opacity: 20%;
    border-bottom: solid;
    border-width: 2px;
    padding-bottom: 4.5%;
    width: 100%;
    transition: 0.4s;
    position: fixed;
    top: 0%;
} .box:hover {
    opacity: 100%;
    /* background: rgba(0, 0, 0, 1.0);
    border-color: rgb(255, 255, 255, 1.0); */
}

.menu {
    width: auto;
    height: 30px;
    align-items: center;
    background: white;
    padding: 2px;
    border-radius: 10px;
    position: fixed;
    top: 2%;
    bottom: auto;
    left: 1%;
    transition: 0.4s;
}

.home {
    left: 47%;
} .childBTN {
    left: 55%;
} .teenBTN {
    left: 71%;
} .collegeBTN {
    left: 85%;
} .home, .childBTN, .teenBTN ,.collegeBTN {
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    font-family: "montserrat", "arial";
    position: absolute;
    padding: 10px;
    transition: 0.4s;
    top: 18%;
} .home:hover, .childBTN:hover, .teenBTN:hover, .collegeBTN:hover {
    background: whitesmoke;
    color: black;
    border-radius: 20px;
    transition: 0.3s;
}

/**end of the copy**/

.pic {
    border-radius: 100%;
    width: 20%;
    position: absolute;
    left: 40%;
    top: 35%;
}

.motto {
    position: absolute;
    text-align: center;
    font-size: 20px;
    bottom: 8%;
    left: 37%;
}

.child {
    padding-top: 8%;
    position: absolute;
    top: 124%;
    left: 43.5%;
} .childStory{
    text-align: left;
    font-size: 20px;
    position: absolute;
    top: 150%;
    left: 5%;
    width: 65%;
} .childPic {
    position: absolute;
    top: 145%;
    left: 65%;
    width: 35%;
}

.teenage {
    padding-top: 8%;
    position: absolute;
    top: 240%;
    left: 41.1%
} .teenStory {
    text-align: right;
    font-size: 20px;
    position: absolute;
    top: 270%;
    right: 5%;
    width: 65%;
} .teenPic {
    position: absolute;
    top: 250%;
    right: 64%;
    width: 45%;
}

.college {
    padding-top: 5.5%;
    position: absolute;
    top: 360%;
    left: 41.1%
} .collegeStory {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 413%;
    margin-left: 5%;
    margin-right: 5%;
} .collegePic {
    position: absolute;
    top: 379%;
    right: 43%;
    width: 20%;
}

.backToTop {
    text-decoration: none;
    color: whitesmoke;
    opacity: 20%;
    position: absolute;
    top: 465%;
    left: 44.5%;
} .backToTop:hover {
    opacity: 100%;
    text-decoration: underline;
}